@model IEnumerable<ASP_cinema.Models.Diffusion.DiffusionListItemViewModel>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiffusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiffusionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSalle)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Id_Movie)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Can3D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Can4DX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audiolang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiffusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiffusionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSalle)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id_Movie)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Can3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Can4DX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audiolang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
                    @Html.ActionLink("Details", "Details", "Movie", new { id = item.Id_Movie }, null)
                @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
